* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 70em;
    padding: 1em;
}

blockquote {
    padding: .3em .5em;
    background-color: #f1f5f9;
    max-width: max-content;
    border-left: 4px solid #0002;
}

header {
    background-color: #e4e4e7;
    border-bottom: 1px solid #0002;
}

footer {
    background-color: #222;
    color: #fff;
    margin-top: auto;

    & ul {
        list-style: none;
        display: flex;
        gap: 1em;

        & a {
            display: block;
            padding: .3em .5em;
            color: #fff;
            border: 1px solid #fff5;
            text-decoration: none;
            background-color: #1e293b;
            transition: all .2s;

            &:hover {
                border-color: #fff;
                background-color: #334155;
            }
        }
    }
}